.listmain {
    .selectbox {
        width: 100%;
        height: 50px;
        margin-bottom: 100px;
        button {
            line-height: 40px;
            padding: 0 10px;
            background: #f57;
            cursor: pointer;
            font-size: 24px;
            color: #fff;
        }
        input{
            height:20px;
            border: 1px solid #f57;
        }
        #page {
            width: 800px;
            height: 50px;
            background: skyblue;
        }
        #page span{
            display: inline-block;
            margin: 5px;
            width: 40px;
            line-height: 1.8;
            text-align: center;
            background-color: #dfdfdf;
            color: #666;
            cursor: pointer;
         }
        #page span.active{background-color:#fc0;color:#fff;}
    }
    .datalir {
        li {
            position: relative;
            float: left;
            margin: 0 18px 18px 0;
            width: 220px;
            height: 410px;
            border: 1px solid #ccc;
            img {
                border: none;
                width: 218px;
                height: 330px;
            }
            h4 {
                margin: 6px 0 3px 0;
                padding-left: 5px;
                line-height: 20px;
                font-size: 14px;
                width: 100%;
                color: #666;
            }
            .price {
                .sale::before, .yuanjia::before {
                    content: "ï¿¥";
                }
                .sale {
                    line-height: 20px;
                    font-size: 16px;
                    font-weight: bold;
                    color: #333;
                    margin-right: 5px;
                }
                .yuanjia {
                    color: #666;
                    margin-right: 40px;
                }
                .xingxing {
                    color: #999;
                    img {
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                    }  
                }
            }
            .xiangsi {
                display: none;
                position: absolute;
                top: 330px;
                left: 0;
                width: 100%;
                line-height: 24px;
                text-align: center;
                background: rgba(255,85,119,.7);
                color: #fff;
            }
            &:hover {
                border-color:#f57;
                .xiangsi {
                    display: block;
                    top: 306px;
                }
            }
        }
    }  
}
