.car_main { padding-top: 100px; width: 100%; background-color: #fff; }

.car_main .car_table { border: 1px solid #ccc; }

.car_main .car_table .checkbox { text-align: center; }

.car_main .car_table td { width: 62px; border: 1px solid #ccc; }

.car_main .car_table .colnum { height: 36px; line-height: 36px; width: 1200px; }

.car_main .car_table .colnum span { display: inline-block; text-align: center; }

.car_main .car_table .colnum span:first-child { width: 180px; }

.car_main .car_table .colnum span:nth-child(2) { width: 280px; }

.car_main .car_table .colnum span:nth-child(3), .car_main .car_table .colnum span:nth-child(4), .car_main .car_table .colnum span:nth-child(5), .car_main .car_table .colnum span:nth-child(6) { width: 135px; }

.car_main .car_table .colcontent span { display: inline-block; text-align: center; }

.car_main .car_table .colcontent img { width: 130px; height: 100px; max-width: 300px; }

.car_main .car_table .colcontent #propic { width: 180px; }

.car_main .car_table .colcontent #proname { overflow: hidden; width: 280px; }

.car_main .car_table .colcontent #proqty, .car_main .car_table .colcontent #prosale, .car_main .car_table .colcontent #prototal, .car_main .car_table .colcontent #act { width: 135px; }

.car_main .car_table .colcontent b, .car_main .car_table .colcontent strong { cursor: pointer; }

.car_main .car_table .colcontent b:hover, .car_main .car_table .colcontent strong:hover { color: #f00; }

.car_main .total_box { margin-top: 20px; }

.car_main .total_box .clearcar { font-size: 16px; cursor: pointer; }

.car_main .total_box .clearcar:hover { color: #f00; }

.car_main .total_box .total_mon { height: 40px; font-size: 25px; color: #000; }

.car_main .total_box .topay { margin: 30px; padding-left: 650px; }

.car_main .total_box .topay #shopmore { display: inline-block; margin-right: 20px; width: 110px; height: 36px; line-height: 36px; border: 1px solid #bbc; border-radius: 5px; background-color: #ccc; font-size: 16px; text-align: center; cursor: pointer; }

.car_main .total_box .topay #pay { display: inline-block; width: 230px; height: 46px; line-height: 46px; border: 1px solid #bbc; border-radius: 5px; background-color: #f57; text-align: center; font-size: 16px; color: #fff; cursor: pointer; }
