@charset "UTF-8";
.mgjnav { border-bottom: 2px solid #f07; }

.mgjnav .nav_l { position: relative; width: 257px; height: 40px; background: url(../img/zhuti.png) no-repeat; }

.mgjnav .nav_l h2 { position: absolute; left: 47px; line-height: 40px; font-size: 18px; color: #fff; }

.mgjnav .nav_r a { float: left; display: block; height: 20px; width: 140px; margin-top: 10px; border-right: 1px solid #ddd; text-align: center; line-height: 20px; font-size: 18px; color: #333; }

.mgjnav .nav_r a:hover { color: #f07; }

.mgjbanner { background: #79b7ff; position: relative; }

.mgjbanner .banner_nav { width: 256px; height: 440px; background-color: rgba(255, 255, 255, 0.8); z-index: 100; }

.mgjbanner .banner_nav ul { position: relative; }

.mgjbanner .banner_nav ul li dl { margin: 0; padding: 5px 0 4px 18px; vertical-align: top; overflow: hidden; border-left: 2px solid transparent; }

.mgjbanner .banner_nav ul li dl dt { float: left; }

.mgjbanner .banner_nav ul li dl dt a { font-size: 14px; font-weight: bold; color: #333; }

.mgjbanner .banner_nav ul li dl dt a:hover { text-decoration: underline; }

.mgjbanner .banner_nav ul li dl dd { float: left; }

.mgjbanner .banner_nav ul li dl dd a { display: inline-block; position: relative; margin-left: 12px; line-height: 20px; font-size: 12px; color: #666; }

.mgjbanner .banner_nav ul li dl dd a:hover { text-decoration: underline; }

.mgjbanner .banner_nav ul li dl dd a img { display: inline-block; position: absolute; top: -2px; right: -18px; }

.mgjbanner .banner_nav ul li dl .a_show { color: #ff0077; }

.mgjbanner .banner_nav ul li .lis_more { position: absolute; top: -4px; left: 251px; width: 777px; height: 440px; background-color: #fff; opacity: 1; z-index: 100; display: none; border-top: 1px solid #F2F2F2; border-right: 1px solid #F2F2F2; border-bottom: 1px solid #F2F2F2; }

.mgjbanner .banner_nav ul li .lis_more .more_l { height: 100%; padding-left: 15px; }

.mgjbanner .banner_nav ul li .lis_more .more_l dl { width: 500px; margin-bottom: 18px; border-left: none; }

.mgjbanner .banner_nav ul li .lis_more .more_l dl dt { width: 500px; display: block; }

.mgjbanner .banner_nav ul li .lis_more .more_l dl dt a { display: inline-block; width: 100px; height: 24px; line-height: 24px; font-size: 14px; color: #333; font-weight: bold; }

.mgjbanner .banner_nav ul li .lis_more .more_l dl dd { display: block; padding-right: 50px; }

.mgjbanner .banner_nav ul li .lis_more .more_l dl dd a { max-height: 50px; display: inline-block; line-height: 12px; margin: 8px 12px 0 0; padding: 3px 0; font-size: 12px; color: #999; }

.mgjbanner .banner_nav ul li .lis_more .more_l dl .a_show { color: #ff0077; }

.mgjbanner .banner_nav ul li .lis_more .more_l dl:first-child { margin-top: 15px; }

.mgjbanner .banner_nav ul li .lis_more .more_r { height: 440px; width: 256px; border-left: 1px solid #f6f6f6; }

.mgjbanner .banner_nav ul li .lis_more .more_r h2 { width: 100%; height: 19px; line-height: 19px; font-size: 16px; margin: 15px auto 10px; text-align: center; }

.mgjbanner .banner_nav ul li .lis_more .more_r .showtu a { float: left; display: block; width: 100px; height: 120px; float: left; margin: 6px 4px 2px 17px; color: #999; }

.mgjbanner .banner_nav ul li .lis_more .more_r .showtu a img { width: 100px; height: 100px; }

.mgjbanner .banner_nav ul li .lis_more .more_r .showtu a p { width: 100px; height: 20px; line-height: 20px; font-size: 12px; opacity: 0.9; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background-color: #ffffff; z-index: 2; }

.mgjbanner .banner_nav ul li .lis_more .more_r .showtu a:hover { opacity: .8; }

.mgjbanner .banner_nav ul .lis_first { margin-top: 4px; }

.mgjbanner .banner_nav ul li:hover { background: #fff; }

.mgjbanner .banner_nav ul li:hover .lis_more { display: block; }

.mgjbanner .banner_nav ul li:hover dl { border-left-color: #f57; }

.mgjbanner .focus { position: absolute; left: 331px; width: 768px; height: 440px; overflow: hidden; }

.mgjbanner .focus ul { position: absolute; overflow: hidden; }

.mgjbanner .focus ul li { float: left; }

.mgjbanner .focus ul li img { display: block; width: 768px; height: 440px; }

.mgjbanner .focus .page { position: absolute; left: 300px; bottom: 0; padding: 10px; }

.mgjbanner .focus .page span { display: inline-block; margin: 0 5px; width: 30px; height: 30px; line-height: 30px; background-color: rgba(0, 0, 0, 0.6); text-align: center; color: #fff; border-radius: 50%; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.mgjbanner .focus .page span.active { background-color: rgba(255, 0, 0, 0.8); }

.mgjbanner .banner_r { position: absolute; left: 1099px; height: 440px; padding: 10px 0; }

.mgjbanner .banner_r .br { position: relative; width: 166px; height: 205px; padding-top: 10px; background-color: #ffffff; background-color: rgba(255, 255, 255, 0.8); }

.mgjbanner .banner_r .b_t p { font-size: 12px; text-align: center; padding: 5px 0 10px 0; }

.mgjbanner .banner_r .b_t p span:nth-child(2) { font-weight: bold; }

.mgjbanner .banner_r .b_t a { display: block; width: 72px; line-height: 24px; border: 1px solid #ff5777; font-size: 12px; text-align: center; color: #ff5777; margin: 0 auto; }

.mgjbanner .banner_r .b_t img { display: block; margin: 0 auto; }

.mgjbanner .banner_r .b_b { margin-top: 10px; }

.mgjbanner .banner_r .b_b .b_b_t { font-size: 16px; color: #333; padding-top: 20px; text-align: center; width: 100%; }

.mgjbanner .banner_r .b_b .b_b_desc { font-size: 14px; color: #666; margin: 5px 0; text-align: center; width: 100%; }

.mgjbanner .banner_r .b_b img { display: block; width: 130px; height: 130px; margin: 0 auto; }

#mgjMain { padding-top: 15px; background: #F5F5F5; }

#mgjMain .biqiang { margin-bottom: 48px; }

#mgjMain .biqiang .daojishi { width: 100%; height: 294px; background-color: white; margin-bottom: 10px; position: relative; overflow: hidden; }

#mgjMain .biqiang .daojishi .daojishi_l { width: 230px; height: 294px; }

#mgjMain .biqiang .daojishi .daojishi_r ul li a { display: block; float: left; width: 190px; height: 248px; margin: 10px 20px 16px 25px; }

#mgjMain .biqiang .daojishi .daojishi_r ul li a img { width: 198px; height: 210px; border-radius: 4px; }

#mgjMain .biqiang .daojishi .daojishi_r ul li a:hover img { opacity: .8; }

#mgjMain .biqiang .daojishi .daojishi_r ul li a .p1 { font-size: 16px; letter-spacing: 0; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; height: 2.8em; position: relative; line-height: 1.4em; -webkit-line-clamp: 2; -webkit-box-orient: vertical; width: 198px; color: #333333; }

#mgjMain .biqiang .daojishi .daojishi_r ul li a .p2 { height: 24px; line-height: 24px; font-size: 22px; color: #FF5777; margin-top: 3px; }

#mgjMain .biqiang .daojishi .daojishi_r ul li a .p2 span::before { content: '￥'; }

#mgjMain .biqiang .daojishi .daojishi_r ul li a .p2 span { margin-right: 3px; }

#mgjMain .biqiang .xianshi { width: 100%; height: 150px; }

#mgjMain .dress { position: relative; width: 100%; margin-bottom: 48px; }

#mgjMain .dress .dress_t .dress_tl h2 { margin: 15px 30px 20px 0; padding-left: 10px; border-left: 8px solid #f57; line-height: 26px; font-size: 26px; font-weight: 700; }

#mgjMain .dress .dress_t .dress_tr { position: absolute; top: 15px; left: 120px; }

#mgjMain .dress .dress_t .dress_tr a { line-height: 26px; text-align: center; padding: 0 16px; font-size: 14px; color: #333; border-right: 1px solid #333; }

#mgjMain .dress .dress_t .dress_tr a:hover { color: #f57; }

#mgjMain .dress .dress_b .dress_bl img { width: 230px; }

#mgjMain .dress .dress_b .dress_br ul li a { display: block; float: left; width: 220px; background: #fff; height: 400px; margin: 0 12px 14px 8px; padding-top: 10px; }

#mgjMain .dress .dress_b .dress_br ul li a img { width: 198px; height: 297px; border-radius: 4px; margin: auto; }

#mgjMain .dress .dress_b .dress_br ul li a:hover img { opacity: .8; }

#mgjMain .dress .dress_b .dress_br ul li a .p1 { font-size: 16px; letter-spacing: 0; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; height: 2.8em; position: relative; line-height: 1.4em; -webkit-line-clamp: 2; -webkit-box-orient: vertical; width: 198px; color: #333333; margin: auto; }

#mgjMain .dress .dress_b .dress_br ul li a .p2 { height: 24px; line-height: 24px; font-size: 22px; color: #FF5777; margin-top: 3px; padding-left: 15px; }

#mgjMain .dress .dress_b .dress_br ul li a .p2 span::before { content: '￥'; }

#mgjMain .dress .dress_b .dress_br ul li a .p2 span { margin-right: 3px; }

#mgjMain .dress .dress_b .dress_br .dress_brb { padding-left: 6px; }

#mgjMain .bag { width: 100%; height: 670px; }

#mgjMain .bag .bag_t { position: relative; }

#mgjMain .bag .bag_t .bag_tl h2 { margin: 15px 30px 20px 0; padding-left: 10px; border-left: 8px solid skyblue; line-height: 26px; font-size: 26px; font-weight: 700; }

#mgjMain .bag .bag_t .bag_tr { position: absolute; top: 15px; left: 180px; }

#mgjMain .bag .bag_t .bag_tr a { line-height: 26px; text-align: center; padding: 0 16px; font-size: 14px; color: #333; border-right: 1px solid #333; }

#mgjMain .bag .bag_t .bag_tr a:hover { color: #f57; }

#mgjMain .bag .bag_b .bag_bl img { width: 230px; height: 555px; }

#mgjMain .bag .bag_b .bag_bm { width: 630px; height: 555px; background: #fff; margin: 0 10px; }

#mgjMain .bag .bag_b .bag_bm ul li a { display: block; float: left; width: 182px; background: #fff; height: 256px; margin: 10px 14px; }

#mgjMain .bag .bag_b .bag_bm ul li a img { width: 182px; height: 182px; border-radius: 4px; margin: auto; }

#mgjMain .bag .bag_b .bag_bm ul li a:hover img { opacity: .8; }

#mgjMain .bag .bag_b .bag_bm ul li a .p1 { font-size: 14px; line-height: 20px; margin-top: 4px; text-overflow: ellipsis; white-space: nowrap; width: 182px; color: #333333; overflow: hidden; }

#mgjMain .bag .bag_b .bag_bm ul li a .p2 { height: 24px; line-height: 24px; font-size: 22px; color: #FF5777; margin-top: 3px; padding-left: 15px; }

#mgjMain .bag .bag_b .bag_bm ul li a .p2 span::before { content: '￥'; }

#mgjMain .bag .bag_b .bag_bm ul li a .p2 span { margin-right: 3px; }

#mgjMain .xihuan h2 { padding: 15px 30px 20px 0; padding-left: 10px; line-height: 26px; font-size: 26px; font-weight: 700; }

#mgjMain .xihuan .datalir li { position: relative; float: left; margin: 0 18px 18px 0; width: 220px; height: 410px; border: 1px solid #ccc; }

#mgjMain .xihuan .datalir li img { border: none; width: 218px; height: 330px; }

#mgjMain .xihuan .datalir li h4 { margin: 6px 0 3px 0; padding-left: 5px; line-height: 20px; font-size: 14px; width: 100%; color: #666; }

#mgjMain .xihuan .datalir li .price .sale::before, #mgjMain .xihuan .datalir li .price .yuanjia::before { content: "￥"; }

#mgjMain .xihuan .datalir li .price .sale { line-height: 20px; font-size: 16px; font-weight: bold; color: #333; margin-right: 5px; }

#mgjMain .xihuan .datalir li .price .yuanjia { color: #666; margin-right: 40px; }

#mgjMain .xihuan .datalir li .price .xingxing { color: #999; }

#mgjMain .xihuan .datalir li .price .xingxing img { display: inline-block; width: 16px; height: 16px; }

#mgjMain .xihuan .datalir li .xiangsi { display: none; position: absolute; top: 330px; left: 0; width: 100%; line-height: 24px; text-align: center; background: rgba(255, 85, 119, 0.7); color: #fff; }

#mgjMain .xihuan .datalir li:hover { border-color: #f57; }

#mgjMain .xihuan .datalir li:hover .xiangsi { display: block; top: 306px; }
